canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body{
  overflow-x: hidden;
}
:root {
  --dark-bg: rgba(15, 15, 15, 0.55);
  --spacing: 210px;

  font-family: "Tilt Warp", serif;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
  color:paleturquoise;
}
main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  background: linear-gradient(180deg, rgb(20, 8, 39) 0%,rgba(0, 22, 39, 0.75) 25%, rgba(0, 22, 39, 0.15) 75%);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: "Tilt Warp", serif;
  font-weight: 700;
  font-style: normal;
}

header {
  transform: translateX(25vw);
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background: var(--dark-bg);
  grid-column: 2 / span 4;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  border-radius: 15px;
  grid-column: 2 / 6;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  font-style: normal;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(93, 31, 143, 0.267);
  font-size: 2rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 2 / 6;
}
