@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.55);
  --spacing: 210px;

  font-family: "Tilt Warp", serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  background: linear-gradient(180deg, rgb(20, 8, 39) 0%,rgba(0, 22, 39, 0.75) 25%, rgba(0, 22, 39, 0.15) 75%);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: "Tilt Warp", serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 1rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 6;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: rgb(0, 0, 0);
    background-color: rgba(111, 72, 143, 0.75);
    font-size: 2rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }