.Btn {
    width: 14rem;
    height: 4rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right,#150e37,#3a96e1,#150e37,#150e37,#3a96e1,#150e37);
    background-size: 250%;
    background-position: left;
    color: #150e37;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    font-family: 'Tilt Warp';
  }
  #bar{
    position: absolute;
    background-color: #d14a3b;
    width: 300px;
    height: 15px;
    z-index: 91;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition-duration: 0.5s;
  }
  .Btn::before {
    position: absolute;
    content: "Play Game";
    color: #3a96e1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 25px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }
#threejs {
	background: linear-gradient(-45deg, rgb(12, 30, 41), rgb(69, 98, 160), rgb(31, 55, 75));
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
	height: 100vh;
}


#threejs{
    z-index: 90;
    filter:blur(7px)
}
@keyframes blur {
    100%{filter: blur(0px);}
}
.titlebg{
  background: linear-gradient(-45deg, rgb(30, 50, 63), rgb(69, 98, 160), rgb(51, 75, 95));
	background-size: 400% 400%;
	animation: gradient 2s ease-in-out infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px rgb(22, 50, 66);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}